$black: #000000;
$white: #FFFFFF;
$dark_grey: #1F1F1F;
$grey: #474747;

$black_blue: #0F1D2E;
$dark_blue: #14273E;
$blue: #274C77;
$main_color: #A3CEF1;
$light_blue: #DCECFA;

$purple: #52489C;




%flexbox
{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;

        width: 100%;
        
        margin: 0px;
        padding: 0px;
}
