$black: #000000;
$white: #FFFFFF;
$grey: #1F1F1F;
$dark-grey: #474747;
$main_color: #F18805;

%flexbox
{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
}

%gradient
{
        background: rgb(217,93,57);
        background: linear-gradient(90deg, rgba(217,93,57,1) 0%, rgba(95,15,64,1) 100%); 
}

%anti_gradient
{
        background: rgba(95,15,64,1);
        background: linear-gradient(90deg, rgba(95,15,64,1) 0%, rgba(217,93,57,1) 100%);
}
