@import "mixins";

html
{
        font-size: 16px;
        font-family: Helvetica, sans-serif;

        background-color: $black;
        color: $white;

        p
        {
                margin: 0px;
                padding: 0px;
        }
}

::selection
{
        background-color: $dark-grey;
        color: $main_color;
}




.div_video
{
        @extend %flexbox;

        background-color: $grey;

        video
        {
                width: 100%;

                margin-top: 80px;

                cursor: not-allowed;
        }
}





.info_about_project
{
        @extend %flexbox;

        .btn_info,
        i
        {
                @extend %flexbox;
                
                width: 1.4rem;
                height: 1.4rem;

                border-style: none;
                border-radius: 100%;

                font-size: 1.6rem;

                cursor: pointer;
        }

        i:hover
        {
                @extend %gradient;
                color: $white;

                transition: 100ms all;
        }

        i:active
        {
                @extend %gradient;
                color: $white;

                transition: 100ms all;
        }

        .btn_info
        {
                position: relative;

                margin-top: -0.7rem;
        }

        .playlist_heading
        {
                @extend %flexbox;
                align-content: flex-end;

                height: 4rem;

                border-bottom: 2px solid $grey;

                p
                {
                        margin: 0px;
                        margin-bottom: 0.25rem;
                        padding: 0px;

                        font-size: 1.5rem;
                }
        }
}




.div_playlist
{
        @extend %flexbox;

        .song
        {
                @extend %flexbox;

                border-bottom: 2px solid $grey;

                cursor: pointer;

                .song_info
                {
                        @extend %flexbox;
                        align-content: flex-start;

                        width: 60%;
                        height: 100%;

                        padding-top: 0.6rem;
                        padding-bottom: 0.4rem;

                        .song_number 
                        {
                                width: 10%;
                                height: 100%;

                                p
                                {
                                        margin-left: 1.2rem;
                                        font-weight: bold;
                                }
                        }

                        .main_info
                        {
                                width: 90%;
                                height: 100%;

                                .playlist_artist_name,
                                .playlist_track_name
                                {
                                        width: 100%;

                                        p
                                        {
                                                margin: 0px;
                                                margin-left: 1.5rem;
                                                padding: 0px;
                                        }
                                }

                                .playlist_track_name
                                {
                                        font-weight: bold;
                                }
                        }
                }

                .link_to_artist
                {
                        @extend %flexbox;
                        align-content: flex-end;

                        width: 40%;
                        height: 100%;

                        a,
                        a:visited
                        {
                                @extend %flexbox;

                                width: 5rem;

                                margin-right: 0.5rem;
                                padding: 0.3rem;

                                border-radius: 2rem;

                                background-color: $dark-grey;
                                color: $white;

                                text-decoration: none;
                        }

                        a:visited
                        {
                                transition: 100ms all;
                        }

                        a:hover
                        {
                                @extend %gradient;
                                color: $white;

                                transition: 100ms all;
                        }

                        a:active
                        {
                                @extend %gradient;
                                color: $white;

                                transition: 100ms all;
                        }

                        .heart
                        {
                                @extend %flexbox;

                                width: 2rem;
                                height: 2rem;

                                margin-right: 0.5rem;

                                font-size: 1rem;
                        }
                }
        }

        .song:hover
        {
                background-color: $white;
                color: $grey;

                transition: 100ms all;
        }

        .selected_song
        {
                @extend %gradient;
                color: $white;

                .link_to_artist
                {
                        a
                        {
                                background-color: $white;
                                color: $grey;
                        }
                        
                        a:hover,
                        a:active
                        {
                                background-color: $white;
                                color: $main_color;
        
                                transition: 100ms all;
                        }
                }
        }

        .selected_song:hover
        {
                @extend %gradient;
                color: $white;

                transition: 100ms all;

                a:hover,
                a:active
                {
                        background-color: $white;
                        color: $main_color;
        
                        transition: 100ms all;
                }
        }
}