@import "mixins";


$menu_border_radius: 16px;
$menu_padding_value: 8px;




// min-viewport = 320 x 480 [px]
html
{
        font-size: 16px;
        font-family: Helvetica, sans-serif;

        background-color: $black;
        color: $light_blue;

        p
        {
                margin: 0px;
                padding: 0px;
        }
}


::selection
{
        background-color: $black;
        color: $white;
}




.body
{
        @extend %flexbox;

        .div_video
        {
                @extend %flexbox;
        
                video
                {
                        width: 100%;
        
                        margin-top: 80px;
                }
        }
        



        .div_player_component
        {
                @extend %flexbox;
        
                .background_image
                {
                        top: 0;
                        left: 0;
                        right: 0;
                        position: fixed;
        
                        width: 100%;
                        height: 100%;

                        filter: blur(4px);
        
                        z-index: -10;
                }
        



                .div_current_track_playing_info
                {
                        @extend %flexbox;
                        justify-content: space-evenly;

                        top: 0;
                        left: 0;
                        right: 0;
                        position: fixed;

                        height: 4rem;

                        padding-top: $menu_padding_value;
                        padding-bottom: $menu_padding_value;

                        background: rgb(15,29,46);
                        background: linear-gradient(0deg, rgba(15,29,46,1) 0%, rgba(0,0,0,1) 100%);
                        color: $main_color;

                        z-index: 10;

                        .artist_name
                        {
                                @extend %flexbox;

                                margin-top: 0.5rem;

                                font-size: 1.2rem;
                        }

                        .track_name
                        {
                                @extend %flexbox;

                                font-size: 1.6rem;
                                font-weight: bold;
                        }
                }
        



                .div_info_about_website
                {
                        @extend %flexbox;
        
                        .btn_info,
                        i
                        {
                                @extend %flexbox;
                                
                                width: 1.4rem;
                                height: 1.4rem;
        
                                border-style: none;
                                border-radius: 100%;

                                background-color: $light_blue;
                                color: $dark_blue;
        
                                font-size: 1.6rem;
        
                                cursor: pointer;
                        }
        
                        i:hover
                        {
                                background-color: $dark_blue;
                                color: $light_blue;
        
                                transition: 100ms all;
                        }
        
                        i:active
                        {
                                background-color: $dark_blue;
                                color: $light_blue;
        
                                transition: 100ms all;
                        }
        
                        .btn_info
                        {
                                position: relative;
        
                                margin-top: -0.7rem;
                        }
        
        
        
        
                        .div_playlist_heading
                        {
                                @extend %flexbox;
                                align-content: flex-end;
        
                                height: 4rem;
        
                                border-bottom: 2px solid $blue;
        
                                p
                                {
                                        margin: 0px;
                                        margin-bottom: 0.25rem;
                                        padding: 0px;
        
                                        font-size: 1.5rem;
                                }
                        }
                }
        



                .div_playlist
                {
                        @extend %flexbox;
        
                        .div_track
                        {
                                @extend %flexbox;
                                justify-content: space-between;
        
                                border-bottom: 2px solid $blue;
        
                                cursor: pointer;
        
                                .div_track_info
                                {
                                        @extend %flexbox;
                                        justify-content: flex-start;
        
                                        min-width: 196px;
                                        max-width: 60%;
        
                                        padding-top: 0.6rem;
                                        padding-bottom: 0.4rem;
        
                                        .div_track_index
                                        {
                                                @extend %flexbox;

                                                min-width: 32px;
                                                max-width: 20%;

                                                font-weight: bold;
                                        }
        



                                        .div_main_info
                                        {
                                                @extend %flexbox;
        
                                                min-width: 154px;
                                                max-width: 70%;
        
                                                .div_artist_name,
                                                .div_track_name
                                                {
                                                        width: 100%;
        
                                                        p
                                                        {
                                                                margin-left: 0.5rem;
                                                        }
                                                }
        
                                                .div_track_name
                                                {
                                                        font-weight: bold;
                                                }
                                        }
                                }
        



                                .div_likes_and_downloads
                                {
                                        @extend %flexbox;
                                        justify-content: flex-end;
        
                                        min-width: 92px;
                                        max-width: 20%;
        
                                        a,
                                        a:visited,
                                        button,
                                        button:visited
                                        {
                                                @extend %flexbox;
        
                                                width: 2rem;
                                                height: 2rem;
        
                                                margin-right: 0.5rem;
        
                                                border-radius: 2rem;
                                                border-style: none;
        
                                                background-color: $black_blue;
                                                color: $light_blue;
        
                                                text-decoration: none;
                                                cursor: pointer;
                                        }
        
                                        a:visited,
                                        button:visited
                                        {
                                                transition: 100ms all;
                                        }
        
                                        a:hover,
                                        button:hover
                                        {
                                                background-color: $light_blue;
                                                color: $blue;
        
                                                transition: 100ms all;
                                        }
        
                                        a:active,
                                        button:active,
                                        .btn_active
                                        {
                                                background-color: $light_blue;
                                                color: $purple;

                                                font-size: 1.25rem;
        
                                                transition: 100ms all;
                                        }
                                }
                        }
        
                        .div_track:hover
                        {
                                background-color: $blue;
                                color: $light_blue;
        
                                transition: 100ms all;
                        }
        
        
        
        
                        .selected_track
                        {
                                background-color: $dark_blue;
                                color: $light_blue;

                                transition: 100ms all;
        
                                .div_likes_and_downloads
                                {
                                        a,
                                        a:hover,
                                        a:active,
                                        button,
                                        button:hover,
                                        button:active
                                        {
                                                background-color: $light_blue;
                                                color: $black_blue;
        
                                                transition: 100ms all;
                                        }
                                }
                        }
        
                        .selected_track:hover
                        {
                                background-color: $dark_blue;
                                color: $light_blue;
        
                                transition: 100ms all;
        
                                .div_likes_and_downloads
                                {
                                        a:hover,
                                        button:hover
                                        {
                                                background-color: $light_blue;
                                                color: $black_blue;
                                
                                                transition: 100ms all;
                                        }

                                        a:active,
                                        button:hover
                                        {
                                                background-color: $light_blue;
                                                color: $purple;

                                                transition: 100ms all;
                                        }
                                }
                        }
                }




                .empty_space
                {
                        @extend %flexbox;
                        
                        height: 121px;

                        z-index: -15;
                }




                .div_track_time_info
                {
                        @extend %flexbox;
                        justify-content: space-between;
                        align-content: flex-start;

                        bottom: 0;
                        left: 0;
                        right: 0;
                        position: fixed;

                        height: 121px;

                        background: rgb(39,76,119);
                        background: linear-gradient(90deg, rgba(39,76,119,1) 0%, rgba(39,76,119,0) 50%, rgba(39,76,119,1) 100%);
                        color: $light_blue;

                        z-index: 5;

                        .current_time,
                        .duration_time
                        {
                                margin-top: 7px;
                                margin-left: 0.5rem;

                                font-weight: bold;
                        }

                        .duration_time
                        {
                                margin-right: 0.5rem;
                        }
                }




                .div_track_progress
                {
                        bottom: 0;
                        left: 0;
                        right: 0;
                        position: fixed;

                        width: 100%;
                        height: 1.75rem;
                        
                        border-top-left-radius: $menu_border_radius;
                        border-top-right-radius: $menu_border_radius;

                        margin-bottom: 3.8rem;

                        background-color: $dark_blue;
                        color: $main_color;

                        cursor: pointer;
                        z-index: 7;

                        .progress_bar
                        {
                                width: 0%;
                                height: 100%;

                                border-radius: 1rem;

                                background: rgb(39,76,119);
                                background: linear-gradient(90deg, rgba(39,76,119,1) 0%, rgba(163,206,241,1) 100%);

                                transition: width 0.1s linear;
                        }
                }




                .div_main_controls
                {
                        @extend %flexbox;
                        justify-content: space-evenly;

                        bottom: 0;
                        left: 0;
                        right: 0;
                        position: fixed;

                        height: 4rem;

                        padding-bottom: $menu_padding_value;
                        padding-top: $menu_padding_value;

                        border-top-left-radius: $menu_border_radius;
                        border-top-right-radius: $menu_border_radius;

                        background: rgb(15,29,46);
                        background: linear-gradient(180deg, rgba(15,29,46,1) 0%, rgba(0,0,0,1) 100%);

                        z-index: 10;

                        button
                        {
                                @extend %flexbox;

                                width: 2.8rem;
                                height: 2.8rem;

                                border: none;
                                border-radius: 100%;

                                font-size: 1.4rem;
                                text-decoration: none;

                                background-color: $blue;
                                color: $light_blue;

                                cursor: pointer;
                                transition: 100ms all;
                        }

                        button:hover
                        {
                                background-color: $light_blue;
                                color: $blue;

                                transition: 100ms all;
                        }

                        button:active
                        {
                                background-color: $dark_blue;
                                color: $light_blue;

                                transition: 100ms all;
                        }

                        .button_play
                        {
                                width: 3.2rem;
                                height: 3.2rem;

                                font-size: 1.6rem;
                        }

                        .btn_repeat_track,
                        .btn_shuffle_track
                        {
                                width: 2.4rem;
                                height: 2.4rem;

                                font-size: 1.2rem;
                        }




                        .active_state
                        {
                                background-color: $main_color;
                                color: $dark_blue;

                                transition: 100ms all;
                        }

                        .active_state:hover
                        {
                                background-color: $light_blue;
                                color: $blue;

                                transition: 100ms all;
                        }
                }
        }




        .splash_page_background
        {
                @extend %flexbox;
                align-items: flex-start;

                top: 0;
                right: 0;
                left: 0;
                position: fixed;

                height: 100%;

                font-size: 1.25rem;

                background-color: $blue;
                color: $light_blue;

                overflow: auto;
                z-index: 50;
                visibility: hidden;

                .div_splash_page
                {
                        @extend %flexbox;

                        top: 0;
                        right: 0;
                        left: 0;
                        position: absolute;

                        .exit
                        {
                                @extend %flexbox;
                                justify-content: flex-end;

                                .btn_close
                                {
                                        @extend %flexbox;

                                        width: 2rem;
                                        height: 2rem;

                                        margin-right: 1.5rem;
                                        margin-top: 1.5rem;

                                        border-radius: 100%;
                                        border: none;

                                        font-size: 2.2rem;

                                        background-color: $blue;
                                        color: $light_blue;

                                        transition: all 100ms;
                                        cursor: pointer;
                                }

                                .btn_close:hover
                                {
                                        background-color: $light_blue;
                                        color: $dark_blue;

                                        transition: all 100ms;
                                }
                        }

                        .manifesto
                        {
                                .heading
                                {
                                        @extend %flexbox;

                                        width: 100%;

                                        padding-bottom: 1rem;
                                }

                                .sorted
                                {
                                        width: 300px;

                                        p
                                        {
                                                margin: 1rem;
                                        }
                                }
                        }

                        .tech
                        {
                                @extend %flexbox;

                                .heading
                                {
                                        @extend %flexbox;

                                        width: 100%;

                                        padding-top: 4rem;
                                        padding-bottom: 1rem;
                                }

                                .sorted
                                {
                                        justify-content: flex-start;

                                        width: 300px;

                                        p
                                        {
                                                margin-left: 1rem;
                                                margin-right: 1rem;
                                        }

                                        .last_one
                                        {
                                                margin-top: 1rem;
                                        }
                                }
                        }

                        .color_scheme
                        {
                                @extend %flexbox;

                                .heading
                                {
                                        @extend %flexbox;

                                        padding-top: 4rem;
                                        padding-bottom: 1rem;
                                }

                                .sorted
                                {
                                        justify-content: flex-start;

                                        width: 300px;

                                        p
                                        {
                                                margin-left: 0.5rem;
                                                margin-bottom: 1rem;
                                        }

                                        .black,
                                        .black_blue,
                                        .dark_blue,
                                        .main_blue,
                                        .light_blue,
                                        .almost_white,
                                        .white,
                                        .purple
                                        {
                                                @extend %flexbox;
                                                justify-content: flex-start;

                                                p
                                                {
                                                        margin: 0.5rem 1rem 0 0.5rem;
                                                }

                                                .circle
                                                {
                                                        @extend %flexbox;

                                                        width: 2rem;
                                                        height: 2rem;

                                                        margin-right: 0.5rem;

                                                        border-radius: 100%;

                                                        background-color: $black;

                                                        .color
                                                        {
                                                                width: 1.5rem;
                                                                height: 1.5rem;

                                                                border-radius: 100%;
                                                        }
                                                }
                                        }

                                        .black 
                                        {
                                                .circle
                                                {
                                                        background-color: $white;

                                                        .color
                                                        {
                                                                background-color: $black;
                                                        }
                                                }
                                        }

                                        .black_blue
                                        {
                                                .circle
                                                {
                                                        background-color: $white;

                                                        .color
                                                        {
                                                                background-color: $black_blue;
                                                        }
                                                }
                                        }

                                        .dark_blue
                                        {
                                                .circle
                                                {
                                                        background-color: $white;

                                                        .color
                                                        {
                                                                background-color: $dark_blue;
                                                        }
                                                }
                                        }

                                        .main_blue 
                                        {
                                                .circle
                                                {
                                                        background-color: $white;

                                                        .color
                                                        {
                                                                background-color: $blue;
                                                        }
                                                }
                                        }

                                        .light_blue 
                                        {
                                                .circle
                                                {
                                                        background-color: $black;

                                                        .color
                                                        {
                                                                background-color: $main_color;
                                                        }
                                                }
                                        }

                                        .almost_white 
                                        {
                                                .circle
                                                {
                                                        background-color: $black;

                                                        .color
                                                        {
                                                                background-color: $light_blue;
                                                        }
                                                }
                                        }

                                        .white
                                        {
                                                .circle
                                                {
                                                        background-color: $black;

                                                        .color
                                                        {
                                                                background-color: $white;
                                                        }
                                                }
                                        }

                                        .purple
                                        {
                                                .circle
                                                {
                                                        background-color: $black;

                                                        .color
                                                        {
                                                                background-color: $purple;
                                                        }
                                                }
                                        }
                                }
                        }

                        .links
                        {
                                @extend %flexbox;

                                .heading
                                {
                                        @extend %flexbox;

                                        padding-top: 4rem;
                                        padding-bottom: 1rem;
                                }

                                .buttons
                                {
                                        @extend %flexbox;
                                        
                                        a,
                                        a:visited
                                        {
                                                padding: 0.5rem;
                                                margin-left: 0.5rem;
                                                margin-right: 0.5rem;

                                                border-radius: 0.5rem;
        
                                                text-decoration: none;
        
                                                background-color: $dark_blue;
                                                color: $light_blue;

                                                transition: all 100ms;
                                        }

                                        a:hover
                                        {
                                                background-color: $light_blue;
                                                color: $blue;

                                                transition: all 100ms;
                                        }
                                }
                        }

                        .footer
                        {
                                @extend %flexbox;
                                flex-direction: column;

                                margin-top: 6rem;
                                padding-bottom: 1rem;
                        }
                }
        }
}








@media only screen and (min-device-width: 1024px) 
{
        .body
        {
                justify-content: flex-end;

                .div_video
                {
                        width: 100%;
                        height: 100%;

                        top: 0;
                        left: 0;
                        right: 0;
                        position: fixed;

                        z-index: -10;

                        video
                        {
                                margin: 0px;
                        }
                }




                .div_player_component
                {
                        min-width: 320px;
                        max-width: 25%;

                        .background_image,
                        .div_current_track_playing_info,
                        .div_track_time_info,
                        .div_track_progress,
                        .div_main_controls
                        {
                                left: unset;

                                min-width: 320px;
                                max-width: 25%;
                        }

                        .background_image
                        {
                                height: 100%;

                                z-index: -10;
                        }

                        .div_info_about_website
                        {
                                margin-top: 80px;

                                .btn_info,
                                i
                                {
                                        bottom: 1rem;
                                        left: 1rem;
                                        position: fixed;

                                        width: 2rem;
                                        height: 2rem;

                                        font-size: 2.3rem;
                                }
                        }
                }

                .splash_page_background
                {
                        min-width: 320px;
                        max-width: 25%;
                }
        }
}