.body, .body .div_video, .body .div_player_component, .body .div_player_component .div_info_about_website, .body .div_player_component .div_info_about_website .btn_info,
.body .div_player_component .div_info_about_website i, .body .div_player_component .div_info_about_website .div_playlist_heading, .body .div_player_component .div_playlist, .body .div_player_component .div_playlist .div_track, .body .div_player_component .div_playlist .div_track .div_track_info, .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info, .body .div_player_component .div_playlist .div_track .div_likes_and_downloads, .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a,
.body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:visited {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0px; }

.body .div_player_component .div_info_about_website i:hover, .body .div_player_component .div_info_about_website i:active, .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:hover, .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:active {
  background: #d95d39;
  background: linear-gradient(90deg, #d95d39 0%, #5f0f40 100%); }

.body .div_player_component .div_playlist .selected_track, .body .div_player_component .div_playlist .selected_track:hover {
  background: #5f0f40;
  background: linear-gradient(90deg, #5f0f40 0%, #d95d39 100%); }

html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: #000000;
  color: #FFFFFF; }
  html p {
    margin: 0px;
    padding: 0px; }

::selection {
  background-color: #474747;
  color: #F18805; }

.body .div_video video {
  width: 100%;
  margin-top: 80px; }
.body .div_player_component .div_info_about_website .btn_info,
.body .div_player_component .div_info_about_website i {
  width: 1.4rem;
  height: 1.4rem;
  border-style: none;
  border-radius: 100%;
  font-size: 1.6rem;
  cursor: pointer; }
.body .div_player_component .div_info_about_website i:hover {
  color: #FFFFFF;
  transition: 100ms all; }
.body .div_player_component .div_info_about_website i:active {
  color: #FFFFFF;
  transition: 100ms all; }
.body .div_player_component .div_info_about_website .btn_info {
  position: relative;
  margin-top: -0.7rem; }
.body .div_player_component .div_info_about_website .div_playlist_heading {
  align-content: flex-end;
  height: 4rem;
  border-bottom: 2px solid #FFFFFF; }
  .body .div_player_component .div_info_about_website .div_playlist_heading p {
    margin: 0px;
    margin-bottom: 0.25rem;
    padding: 0px;
    font-size: 1.5rem; }
.body .div_player_component .background_image {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  filter: blur(4px);
  z-index: -10; }
.body .div_player_component .div_playlist .div_track {
  justify-content: space-between;
  border-bottom: 2px solid #FFFFFF;
  cursor: pointer; }
  .body .div_player_component .div_playlist .div_track .div_track_info {
    justify-content: flex-start;
    min-width: 196px;
    max-width: 60%;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem; }
    .body .div_player_component .div_playlist .div_track .div_track_info .div_track_index {
      min-width: 32px;
      max-width: 20%; }
      .body .div_player_component .div_playlist .div_track .div_track_info .div_track_index p {
        margin-left: 0.5rem; }
    .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info {
      min-width: 154px;
      max-width: 70%; }
      .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info .div_artist_name,
      .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info .div_track_name {
        width: 100%; }
        .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info .div_artist_name p,
        .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info .div_track_name p {
          margin-left: 0.5rem; }
      .body .div_player_component .div_playlist .div_track .div_track_info .div_main_info .div_track_name {
        font-weight: bold; }
  .body .div_player_component .div_playlist .div_track .div_likes_and_downloads {
    justify-content: flex-end;
    min-width: 124px;
    max-width: 20%; }
    .body .div_player_component .div_playlist .div_track .div_likes_and_downloads .div_likes p {
      margin-top: 4px;
      margin-right: 0.5rem;
      font-weight: bold; }
    .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a,
    .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:visited {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      border-radius: 2rem;
      background-color: #474747;
      color: #FFFFFF;
      text-decoration: none; }
    .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:visited {
      transition: 100ms all; }
    .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:hover {
      color: #FFFFFF;
      transition: 100ms all; }
    .body .div_player_component .div_playlist .div_track .div_likes_and_downloads a:active {
      color: #FFFFFF;
      transition: 100ms all; }
.body .div_player_component .div_playlist .div_track:hover {
  background-color: #FFFFFF;
  color: #1F1F1F;
  transition: 100ms all; }
.body .div_player_component .div_playlist .selected_track {
  color: #FFFFFF; }
  .body .div_player_component .div_playlist .selected_track .div_likes_and_downloads a,
  .body .div_player_component .div_playlist .selected_track .div_likes_and_downloads a:hover,
  .body .div_player_component .div_playlist .selected_track .div_likes_and_downloads a:active {
    background-color: #FFFFFF;
    color: #1F1F1F;
    transition: 100ms all; }
.body .div_player_component .div_playlist .selected_track:hover {
  color: #FFFFFF;
  transition: 100ms all; }
  .body .div_player_component .div_playlist .selected_track:hover a:hover,
  .body .div_player_component .div_playlist .selected_track:hover a:active {
    background: #FFFFFF;
    background-color: #FFFFFF;
    color: #1F1F1F;
    transition: 100ms all; }

@media only screen and (min-device-width: 1024px) {
  .body {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 320px;
    grid-template-rows: 100%;
    grid-template-areas: 
    "video video video video video video video video video player";
    
    justify-items: stretch;
    justify-content: stretch;
    align-items: flex-start;
    align-content: stretch;
    */ }
    .body .div_video {
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      aspect-ratio: 16/9; } }

/*# sourceMappingURL=homepage.css.map */
