@import "mixins";

$menu_border_radius: 16px;
$menu_padding_value: 8px;




.div_current_track_playing_info
{
        @extend %flexbox;
        justify-content: space-evenly;

        top: 0;
        left: 0;
        right: 0;
        position: fixed;

        height: 4rem;

        padding-top: $menu_padding_value;
        padding-bottom: $menu_padding_value;

        background-color: $grey;
        color: $main_color;

        z-index: 10;

        .artist_name
        {
                @extend %flexbox;

                margin-top: 0.5rem;

                font-size: 1.2rem;
        }

        .track_name
        {
                @extend %flexbox;

                font-size: 1.6rem;
                font-weight: bold;
        }
}




.div_track_progress
{
        width: 100%;

        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;

        height: 1.75rem;
        
        margin-bottom: 3.8rem;

        background-color: $dark-grey;
        color: $main_color;

        cursor: pointer;

        .progress_bar
        {
                width: 0%;
                height: 100%;

                border-radius: 1rem; // <-- Maybe need fixing.

                @extend %gradient;

                transition: width 0.1s linear;
        }
}




.div_main_controls
{
        @extend %flexbox;
        justify-content: space-evenly;

        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;

        height: 4rem;

        padding-bottom: $menu_padding_value;
        padding-top: $menu_padding_value;

        border-top-left-radius: $menu_border_radius;
        border-top-right-radius: $menu_border_radius;

        background-color: $grey;

        z-index: 10;

        button
        {
                @extend %flexbox;

                width: 2.8rem;
                height: 2.8rem;

                border: none;
                border-radius: 100%;

                font-size: 1.4rem;
                text-decoration: none;

                background-color: $dark-grey;
                color: $main_color;

                cursor: pointer;
                transition: 100ms all;
        }

        button:hover
        {
                @extend %gradient;
                color: $white;

                transition: 100ms all;
        }

        button:active
        {
                @extend %gradient;
                color: $white;

                transition: 100ms all;
        }

        .button_play
        {
                width: 3.2rem;
                height: 3.2rem;

                font-size: 1.6rem;
        }

        .btn_repeat_track,
        .btn_shuffle_track
        {
                width: 2.4rem;
                height: 2.4rem;

                font-size: 1.2rem;
        }

        .active_state
        {
                @extend %gradient;
                color: $white;

                transition: 100ms all;
        }

        .active_state:hover
        {
                @extend %anti-gradient;

                transition: 100ms all;
        }
}

.empty_space
{
        @extend %flexbox;
        
        height: 88px;
}
